@import "tailwindcss";

/* Hide scrollbar but allow scrolling */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@theme {
  /* --font-* */
  --font-sans: "Roboto", sans-serif;

  /* --color-* */
  --color-primary-light: #67e8f9;
  --color-primary-DEFAULT: #06b6d4;
  --color-primary-dark: #292826;

  /* --radius-* */
  --radius-card: 1rem;

  /* --shadow-* */
  --shadow-card: 0 4px 16px rgba(0, 0, 0, 0.1);
}
